<h2>Resend Confirmation Instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %> <br>
    <%= f.email_field :email, autofocus: true, class:'col-md-3', placeholder:'Enter your email', autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Resend Confirmation Code" %>
  </div>
  <br>
<% end %>

<div> <center>  <%= link_to 'Not sure? Sign Up Now!',  new_user_registration_path, class:"btn btn-dark btn-sm"; %>  <br> </center> </div>



  


