
<% if user_signed_in? %>
<h1>Friends</h1>
<%#= form_tag friends_path, :method => 'get' do %>
 <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag  "search" %>
    <%# end %>
    
        <%= search_form_for @q do |f| %> 
  <div>  <%= f.search_field :first_name_or_last_name_or_email_or_phone_or_twitter_cont, placeholder:"Search for Your Details", class: "col-lg-3";%></div>
<div style="width:130px;margin-left: 320px;margin-top: -30px"><%= f.submit class:"btn btn-outline-success btn-sm";%></div>

<% end %>
    <br>

<div id="friends">
    
   <div>
    <table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name </th>
      <th scope="col">Email </th>
      <th scope="col">Phone </th>
      <th scope="col">Twitter </th>
      
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.user == current_user %>
  <tr>
      <td scope="row"></td>
      <td> <%= link_to friend.first_name.capitalize + " " + friend.last_name.capitalize, friend, style:"text-decoration: none;"%></td>
      <td><%= friend.email.capitalize %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
     
      <td><%= button_to "Destroy this friend", friend, method: :delete,  class:"btn btn-outline-danger btn-md";%></td>
      
 
      </tr>
   <% end %>
   <% end %>
    </tbody>
  </table>
  </div>
    


</div>


<% else %>

<h1>Hello World! </h1>
<p>Welcome to Asolab Ruby!</p>
<% end %>



